<!-- views/successStoryDetail.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>
      <%= story.title %> - Success Story
   </title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
   <div class="container mt-5">
      <h1>
         <%= story.title %>
      </h1>
      <p><strong>Author:</strong>
         <%= story.author.name %> (<%= story.author.college_email %>)
      </p>
      <p><strong>Content:</strong>
         <%= story.content %>
      </p>
      <% if (story.imageUrl) { %>
         <img src="<%= story.imageUrl %>" alt="<%= story.title %>" class="img-fluid mt-3">
         <% } %>

         <br>
         <br>

            <a href="/api/v1/stories/<%= story._id %>" class="btn btn-warning">Update</a>
            <form action="/api/v1/stories/<%= story._id %>" method="POST" class="d-inline">
               <input type="hidden" name="_method" value="DELETE">
               <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a href="/api/v1/stories" class="btn btn-primary">Back to Success Stories</a>
   </div>
</body>

</html>